DJANGO_SECRET_KEY=пока-ничего-но-на-проде-нужно-поставить-ключ
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=contest.example.ru
DJANGO_CSRF_TRUSTED_ORIGINS=https://contest.example.ru
DJANGO_HTTPS=1
DJANGO_ADMIN_URL=secret-admin-path/
FSP_ORGANIZER_LOGIN=organizer
FSP_ORGANIZER_EMAIL=org@example.ru
FSP_ORGANIZER_PASSWORD=смените-пароль
